<template>
  <div id="app">
    <overlay></overlay>
    <hypernavbar></hypernavbar>
    <router-view></router-view>
  </div>
</template>

<script>
import Hypernavbar from '@/components/Hypernavbar'
import Overlay from '@/components/Overlay'
// TODO: Fix mobile scaling view
export default {
  name: 'app',
  components: {
    Hypernavbar,
    Overlay
  }
}
</script>

<style>
  body {
    background: rgb(255, 255, 255);
    height: 100%;
  }

  #app {
    height: 100%;
  }
</style>
