<template>
  <div>
    <b-container>
      <!-- Title -->
      <br>
      <h1 style="text-align:center;">Hyper Genesis Distribution</h1>
      <h3 style="text-align:center;">Claim with Bitcoin</h3>
      <br>

      <!-- TODO: Combine claim pages into one -->

      <b-form @submit="onSubmit">

        <!-- Bitcoin Sending Address Input -->
        <b-form-group id="bitcoinAddressGroup" label-size="sm" description="Please type in your wallet address used to send Bitcoin">
          <b-input-group prepend="BTC">
            <!-- TODO: Validate input has a valid eth address format, (TODO: DB/Web3: Validate bitcoin address is known in the sale) -->
            <b-form-input v-model="form.bitcoinAddress" type="text" required></b-form-input>
              <!-- Paste Button -->
              <b-input-group-append>
                <b-btn variant="outline-secondary">Paste</b-btn>
              <!-- TODO: Paste clipboard onClick -->
              </b-input-group-append>
          </b-input-group>
        </b-form-group>

        <!-- Ethereum Receiving Address Input -->
        <b-form-group id="ethereumAddressGroup" label-size="sm" description="Please type in your receiving ERC20 Ethereum wallet address">
          <b-input-group prepend="ETH">
            <!-- TODO: Validate input has a valid eth address format, (TODO: DB/Web3: Validate bitcoin address is known in the sale) -->
            <b-form-input v-model="form.ethereumAddress" type="text" required></b-form-input>
              <!-- Paste Button -->
              <b-input-group-append>
                <!-- TODO: Paste clipboard onClick -->
                <b-btn variant="outline-info">?</b-btn>
                <!-- TODO: Show How to get Ethereum info onClick -->
                <b-btn variant="outline-secondary">Paste</b-btn>
              </b-input-group-append>
          </b-input-group>
        </b-form-group>

        <!-- Disclaimer Info-->
        <b-row>
          <b-col>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed blanditiis ea eius eveniet nihil sint voluptatem, earum aperiam labore voluptate fuga accusantium doloribus iusto? Enim nisi fuga aliquam exercitationem quibusdam?
          </b-col>
        </b-row>
        <br>

        <b-row>
          <b-col cols="3">
            <!-- TODO: Add Google Captcha -->
            <b-card>
              <b-form-checkbox value="me">I am not a robot</b-form-checkbox>
            </b-card>
            <br>
          </b-col>
        </b-row>

        <!-- Claim Button -->
        <!-- TODO: Check bitcoin address is known before potentially goinging to KYC form -->
        <b-button @click="verify" type="submit" variant="primary" block>Claim</b-button>
      </b-form>

    </b-container>
  </div>
</template>

<script>
export default {
  name: 'claimWithBitcoin',
  methods: {

    onSubmit (evt) {
      // evt.preventDefault();
      // alert(JSON.stringify(this.form));
    },

    // Router Test
    verify: function () {
        this.$router.push('/verify')
    },
  },
  data () {
    return {
      form: {
      }
    }
  }
}
</script>

<style>

</style>
