<template lang="pug">

    // Draft Navbar
    #hypernavbar
        b-navbar(variant='primary', toggleable='')
            b-navbar-toggle(target='nav_text_collapse')
            b-navbar-brand.animated-underline(href='#') Hypernet
            
            b-collapse#nav_text_collapse.center-div(is-nav='')
                b-navbar-nav
                    #get-hyper
                        b-nav-item.animated-underline(href="#") Get Hyper
                    #other-links
                        b-nav-item.animated-underline(href="#") Token Sale
                        b-nav-item.animated-underline(href="#") Hypernet Of Things
                        b-nav-item.animated-underline(href="#") Go Mass

</template>

<style>

    #hypernavbar .bg-primary{
        background-color: rgb(255, 255, 255) !important;
        border-bottom: 2px solid white;
    }

    #nav_text_collapse {
        border-left: 2px solid white;
        padding-left: 2.5vw;
    }
    
    #get-hyper {
        padding-right: 2.5vw;
        border-right: 2px solid rgb(0, 0, 0);
    }

    #other-links{
        padding-left: 2.5vw;
    }

    #other-links li {
        display: inline-block;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18pt;
    }

    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(0, 0, 0)
    }


    .navbar-light .navbar-brand {
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18pt;
        margin-right: 2.5vw;
    }

    .navbar-light .navbar-brand:hover{
        color: rgb(141, 141, 141);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18pt;

    }

    .animated-underline{
        border-style: none none solid none;
        border-color: rgb(88, 88, 88);
        border-width: 2px;
        transition: all ease-in 0.5s;
    }

    .animated-underline:hover{
        border-style: none none solid none;
        border-color: rgb(212, 212, 212);
        border-width: 2px;
        transition: all ease-in 0.5s;
    }
</style>

<script>
export default {
   name: 'Hypernavbar',
   data() {
      return {}
   }
}
</script>