<template lang="pug">
// TODO: Draft Overlays (Obselete - See new Designs)
// TODO: Remove Metamask requirements overlays and fix Agreement modal
#overlay(v-if="testNotAgreement() || (testNotChrome() || testNotMetamask())")
    .overlay-middle
        .overlay(v-if="testNotChrome() || testNotMetamask()")
            .row
                .col-md-12
                    h2(style="padding-top: 2.5vh") To participate in the Hyper Genesis Event, we recommend using Metamask and Ethereum

            .row
                .col-md-1
                .col-md-10.center
                    iframe#video-metamask(style="padding-top: 2.5vh", src='https://www.youtube.com/embed/6Gf_kRE4MJU', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-1

            .row(style="margin-top: 2.5vh", v-if="testNotMetamask() && testNotChrome()")
                .col-md-2
                .col-md-4.center
                    img(alt="Google Chrome icon", src="@/assets/chrome-icon.png")
                .col-md-4.center
                    img(alt="Metamask icon", src="@/assets/metamask-icon.png", width="128")
                .col-md-2

            .row(style="margin-top: 2.5vh", v-else='')
                .col-md-2
                .col-md-8.center
                    img(alt="Metamask icon", src="@/assets/metamask-icon.png", width="128")
                .col-md-2
            
            .row.links
                .col-md-2
                .col-md-4.center
                    .back-text
                        a(href="#toGoogle") Get Me
                .col-md-4.center
                    .back-text
                        a(href="#toMetamask") Get Me
                .col-md-2

            .row(style="padding-top:4pt")
                .col-md-12.center
                    p(style="font-size: 8pt; color: white;") or

            .row.links(style="margin-top:-4pt")
                .col-md-12.center
                    a(href="tutorial") Use Another Wallet or Bitcoin
        
        .overlay(v-else = "")
            .row
                .col-md-12
                    h1(style="padding-top: 2.5vh") HYPER GENESISTOKEN DISTRIBUTION EVENT

            .row
                .col-md-12
                    h2 PLEASE READ THE HYPER TOKEN PURCHASE AGREEMENT, TERMS OF USE AND HYPERLINK.ORG TECHNICAL WHITEPAPER AND CONFIRM THAT THE FACTS IN THE CHECKBOXES BELOW IN ORDER TO PROCEED.
               
            .row
                .col-md-12.center
                    .scroll-box(style="text-align: justify")
                        include:markdown-it ../assets/tos.md

            .row
                .col-md-12.center
                    .center(style="border-top: 2px solid white; width: 80%; display: inline-block")
                        p(style="color: white") Please scroll down fully and check all the boxes to proceed

                        form#agreement(action="/accept_agreement", method="get")
                            p I confirm that I am NOT a U.S. citizen, resident or entity (each a “U.S. Person”) nor am I purchasing HYPER Tokens or signing on behalf of a U.S. Person.
                            p I confirm that I am NOT a citizen of or resident of the People’s Republic of China or an entity formed under the laws of the People’s Republic of China (each a “Chinese Person”) nor am I purchasing HYPER Tokens or signing on behalf of a Chinese Person.
                            p I confirm that I have read, understand and agree to the terms of the &nbsp;
                                a(href="#hypertoken") HYPER Token Purchase Agreement
                            p and &nbsp;
                                a(href="#tos") Terms of Use

                            p I have read the &nbsp;
                                    a(href="#hyperlink") HYPERLINK.ORG Technical Whitepaper

                            .row(style="margin-top: 2vh")
                                .col-md-12(style="text-align: center")
                                    button.btn.btn-primary.btn-lg.custom-btn(type='submit') Continue                         

</template>

<style>

#overlay{
    background-color: rgba(0,0,0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 1;
}

.overlay-middle {
    display: table-cell;
    vertical-align: middle;
}

.overlay{
    width: 50vw;
    background-color: rgb(131, 131, 131);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 2.5vh;
}

.overlay h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    text-align: center;
}

.links a{
    color: white;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.back-text{
    background-color: black;
    width: 128px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.overlay h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    text-align: center;
}

.scroll-box{
    overflow-y: auto;
    max-height: 30vh;
    background-color: white;
    width: 90%;
    display: inline-block;
}

.scroll-box h1 {
    color: black;
}

#agreement{
    color: white;
    font-size: 8pt;
}

#agreement a {
    text-decoration: underline;
    color: white;
}

.custom-btn {
    border-radius: 30px;
}

#video-metamask {
    width: 80%;
    height: 19vw;
}
</style>

<script>
export default {
    name: 'Overlay', 
    methods: {

        testNotChrome: function (){
            return !(!!window.chrome && !!window.chrome.webstore);
        },

        testNotMetamask: function(){
            return typeof web3 == 'undefined';
        },

        testNotAgreement: function(){
            return false;
        }

    }
}
</script>
