<template>
  <div>
    <b-container fluid>
      <!-- Title -->
      <br>
      <h1 style="text-align:center;">Hyper Genesis<br/>Distribution Event</h1>
      <br>

      <!-- Spinning Cube Logo Gif -->
      <b-row>
        <b-col class="text-center">
          <b-img fluid src="http://1.bp.blogspot.com/-IykvXVu4nLQ/VhfgJetkeUI/AAAAAAAAB9c/aif1IsHNPWI/s1600/cube.gif" alt="Thumbnail" style="width: 20%;" />
        </b-col>
      </b-row>

      <!-- Timer -->
      <b-row>
        <b-col class="text-center">
          <h4>25:16:36:20</h4>
        </b-col>
      </b-row>

      <!-- Sale Instructions -->
      <b-card header="How to Participate" class="text-center">
        <p class="card-text">
          1. <b>Read:</b> sale information to understand participation<br/>
          2. <b>Send:</b> BTC or ETH directly to the distribution address<br/>
          3. <b>Claim</b> your token <b-link v-b-modal.claimToken>here</b-link>
        </p>
      </b-card>
      <br>

      <!-- Sale Chart (ChartJS)-->
      <b-row>
        <b-col class="text-center">
          <div class="Chart">
            <h1 class="chartjs-title" style="text-align:center;">Sale Chart</h1>
          <chart/>
          </div>
        </b-col>
      </b-row>
      <br>

      <!-- Sale Instructions -->
      <b-card header="Reverse Dutch Auction" class="text-center">
        <p class="card-text">
          We have designed a token auction to use as a market based approach for determining a fair value for HYPER tokens. This value is based on the demand for our platform from the community.
        </p>
      </b-card>
      <br>

      <!-- Token Purchase Buttons -->
      <b-row>
        <b-col class="text-center">
          <b-button v-b-modal.usingEthereum>Ethereum</b-button>
        </b-col>
        <b-col class="text-center">
          <b-button v-b-modal.usingBitcoin>Bitcoin</b-button>
        </b-col>
      </b-row>
      <br>

      <!-- FAQ -->
      <div role="tablist">

        <!-- Q1 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion1 variant="default">
              1. What are HYPER tokens and what are they used for?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cupiditate id voluptas debitis voluptate ullam dolor iusto delectus ratione qui. Illo porro dolore explicabo cum natus eveniet odio molestiae voluptatibus?
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q2 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion2 variant="default">
              2. Why Dutch auction?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quidem, sequi, magnam, voluptate eos numquam aspernatur minima hic laborum reprehenderit eligendi laudantium sint ipsam quos vitae quo praesentium veritatis saepe?
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q3 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion3 variant="default">
              3. Distribution
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q4 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion4 variant="default">
              4. Supply decay
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q5 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion5 variant="default">
              5. Milestones
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q6 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion6 variant="default">
              6. When do I receive my tokens?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion6" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
              <!-- Claim Tokens Button -->
              <b-row>
                <b-col>
                  <b-button v-b-modal.claimToken>Claim Tokens</b-button>
                </b-col>
              </b-row>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q7 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion7 variant="default">
              7. Will I receive tokens at the same price as everyone else?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion7" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q8 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion8 variant="default">
              8. Do I receive tokens at the same price as everyone else?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion8" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q9 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion9 variant="default">
              9. Use of funds
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion9" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>

        <!-- Q10 -->
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion10 variant="default">
              10. How do I get HYPER?
            </b-btn>
          </b-card-header>
          <b-collapse id="accordion10" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, repellendus impedit reiciendis cupiditate ullam, eveniet officiis dolores eos totam itaque ut rem quasi asperiores molestiae, delectus tempora? Numquam, velit.
              </p>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
     
    </b-container>

    <!-- Token Purchase/Claim Modals -->
    <token-purchase></token-purchase>

  </div>
</template>

<script>
import Chart from './SaleChart.js'
import TokenPurchase from '@/components/TokenPurchase'

export default {
  components: {
      Chart,
      TokenPurchase
  },
  name: 'SalePage',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42a1b9;
}

.chartjs-title {
  color: rgb(58, 58, 58);
}

</style>
