<template>
<div>
  <!-- | Ethereum Participation | -->
  <b-modal  id="usingEthereum"
            title="Ethereum Participation"
            hide-footer centered size="md">

    <!-- ETH Input -->
    <b-form-group>
      <b-input-group prepend="ETH">
          <b-form-input type="number" placeholder="Amount"></b-form-input>
      </b-input-group>
    </b-form-group>

    <!-- Receiving ETH Wallet (Optional) -->
    <b-form-group description="You can receive HYPER tokens to an alternative wallet you own">
      <b-input-group>
          <b-form-input type="text" placeholder="Alternative receiving wallet (Optional)"></b-form-input>
      </b-input-group>
    </b-form-group>

    <!-- Distribution Address -->
    <b-form-group label-size="sm" 
                  label="Distribution Address"
                  description="You can send Ethereum from your own wallet or from exchanges">
      <b-input-group>
        <b-form-input type="text" readonly value="0x0000000000000000"></b-form-input>
          <!-- Copy Button -->
          <b-input-group-append>
          <b-btn variant="outline-secondary">Copy</b-btn>
          <!-- TODO: Copy address to clipboard onClick -->
          </b-input-group-append>
      </b-input-group>
      </b-form-group>

    <!-- Wallet Buttons-->
    <b-row>
      <b-col>
        <b-button variant="secondary" block>MyEtherWallet</b-button>
      </b-col>
      <b-col>
        <b-button variant="secondary" block>Metamask</b-button>
      </b-col>
    </b-row>
  </b-modal>



  <!-- | Bitcoin Participation | -->
  <b-modal  id="usingBitcoin"
            title="Bitcoin Participation"
            hide-footer centered size="md">

    <!-- Distribution Address -->
    <b-form-group label-size="sm" 
                  label="Distribution Address"
                  description="You can send Bitcoin from your own wallet or from exchanges">
      <b-input-group>
        <b-form-input type="text" readonly value="0x0000000000000000"></b-form-input>
          <!-- Copy Button -->
          <b-input-group-append>
          <b-btn variant="outline-secondary">Copy</b-btn>
          <!-- TODO: Copy address to clipboard onClick -->
          </b-input-group-append>
      </b-input-group>
    </b-form-group>

    <!-- Claim with Bitcoin -->
    <b-form-group description="Click here to claim your HYPER <b>after</b> sending BTC">
      <b-button @click="claimWithBitcoin" variant="secondary" block>Claim Tokens</b-button>
    </b-form-group>
  </b-modal>



  <!-- | Token Claim | -->
  <b-modal  id="claimToken"
            title="Claim Tokens"
            hide-footer centered size="md">
    <b-container>
    <b-row>
      <b-col>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, assumenda minus dicta quas rerum nobis harum provident eaque saepe enim modi beatae obcaecati, sed, ut eligendi hic ea magnam! Delectus?
      </b-col>
    </b-row>
    <br>

    <!-- Register Button-->
    <!-- TODO: Save wallet address to DB, generate secret key that is used to verify they have wallet when doing KYC-->
    <b-row>
      <b-col>
        <b-button @click="claimWithEthereum" variant="secondary" block>I used Ethereum</b-button>
      </b-col>
      <b-col>
        <b-button @click="claimWithBitcoin" variant="secondary" block>I used Bitcoin</b-button>
      </b-col>
    </b-row>
    </b-container>
  </b-modal>

</div>

</template>

<script>
export default {
  name: 'TokenPurchase',
  methods: {

      buyWithEthereum: function (){
          // TODO: Add Web3 functions ¿?
      },


      // Router
      claimWithEthereum: function () {
          this.$router.push('/ClaimWithEthereum')
      },

      claimWithBitcoin: function () {
        this.$router.push('/ClaimWithBitcoin')
      }
  }
}
</script>

<style>

</style>
