<template>
  <div>
    <b-container>
      <!-- Title -->
      <br>
      <h1 style="text-align:center;">Individual Identity Verification</h1>
      <br>

      <!-- TODO: Write KYC explanation -->
      <b-row class="mb-3">
        <b-col >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi veniam doloremque quos ratione! Dignissimos tempora vel error assumenda accusantium tenetur corporis vitae perferendis a, sunt sit corrupti sint mollitia.
        </b-col>
      </b-row>

      <b-form @submit="onSubmit">

        <!-- First Name -->
        <b-form-group id="firstNameGroup" label="First Name*">
          <b-form-input id="firstname" type="text" v-model="form.firstname" required></b-form-input>
        </b-form-group>

        <!-- Last Name -->
        <b-form-group id="lastNameGroup"
                      label="Last Name*">
          <b-form-input id="lastname" type="text" v-model="form.lastname" required></b-form-input>
        </b-form-group>

        <b-row>
          <b-col cols="4">
            <!-- Date of Birth -->
            <b-form-group id="dobGroup" label="Date of Birth*">
                <b-input-group>
                  <!-- FIXME: Make selects drop dates --> 
                  <b-form-select id="dobday" v-model="form.day" :options="[1]" />
                  <b-form-select id="dobmonth" v-model="form.month" :options="[2]" />
                  <b-form-select id="dobyear" v-model="form.year" :options="[1990]" />
                </b-input-group>
            </b-form-group>
          </b-col>
          <b-col>

            <!-- Nationality -->
            <b-form-group id="countryGroup" label="Nationality*">
                <!-- FIXME: Make select show countries --> 
                <b-form-select id="country" v-model="selected" :options="['United Kingdom']" />
            </b-form-group>
          </b-col>
        </b-row>

        <b-card class="mb-3">
          <!-- Address 1 -->
          <b-form-group id="addressGroup" label="Address 1*">
            <b-form-input id="address1" type="text" v-model="form.address1" required></b-form-input>
          </b-form-group>

          <b-row>
            <b-col>
              <!-- City -->
              <b-form-group id="cityGroup" label="City">
                <b-form-input id="city" type="text" v-model="form.city" required></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <!-- Postcode -->
              <b-form-group id="postcodeGroup" label="Zip/Postcode">
                <b-form-input id="postcode" type="text" v-model="form.postcode" required></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <p class="card-text">Please ensure you fill in your address information accurately as applicable.</p>
        </b-card>

        <!-- Email -->
        <b-form-group id="emailGroup" label="Email*">
          <b-form-input id="email" type="text" v-model="form.email" required></b-form-input>
        </b-form-group>

        <!-- Ethereum Wallet Address -->
        <b-form-group v-if="true" id="ethereumAddressGroup"
                      label="Your Ethereum Wallet*"
                      description="Please type in your Ethereum wallet address used to participated in the Hyper genesis distribtuion">
          <b-form-input id="ethereumAddress" type="text" v-model="form.ethereumAddress" required></b-form-input>
        </b-form-group>

        <!-- OR Bitcoin Wallet Address -->
        <b-form-group v-if="false" id="bitcoinAddressGroup"
                      label="Your Bitcoin Wallet*"
                      description="Please type in your Bitcoin wallet address used to participated in the Hyper genesis distribtuion">
          <b-form-input id="bitcoinAddress" type="text" v-model="form.bitcoinAddress" required></b-form-input>
        </b-form-group>

    
      <b-form-group id="exampleGroup4">
        <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
          <b-form-checkbox value="me">I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief. In case any of the above information is found to be false or untrue or misleading or misrepresenting, I am aware that I may be held liable for it and that I understand that failure of the KYC process may lead to a widthold of investment.</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-row>
        <b-col cols="3">
          <!-- TODO: Add Google Captcha -->
          <b-card>
            <b-form-checkbox value="me">I am not a robot</b-form-checkbox>
          </b-card>
          <br>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="11">
          <!-- TODO: Do API Request on Submit with form data -->
          <b-button type="submit" variant="primary" block>Submit</b-button>
        </b-col>
        <b-col cols="1">
          <!-- TODO: Show modal help info and support contact email address -->
          <b-button variant="outline-primary" >Help</b-button>
        </b-col>
      </b-row>
    </b-form>

    </b-container>
  </div>
</template>

<script>
export default {
  name: 'verify',
  methods: {

    onSubmit (evt) {
      // evt.preventDefault();
      this.$router.push('/verify')
      // alert(JSON.stringify(this.form));
    },

    // Router
    verify: function () {
        this.$router.push('/verify')
    }
  },
  data () {
    
    return {
      selected: null,
      options: ['United Kingdom'],
      form: {
      }
    }
  }
}
</script>

<style>

</style>
